body,
p,
h1,
ul,
li,
blockquote {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Vollkorn', Georgia, 'Times New Roman', Times, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

/* Grid Geral */
.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    'header header header'
    'sidenav content anuncios'
    'footer footer footer';
}

.header {
  grid-area: header;
}

.sidenav {
  grid-area: sidenav;
}

.content {
  grid-area: content;
}

.anuncios {
  grid-area: anuncios;
}

.footer {
  grid-area: footer;
}

/* Header */
.header {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.header nav a {
  display: block;
  padding: 10px;
  color: #ffffff;
  font-size: 1.125rem;
  background: rgba(0,0,0,.1);
  border-radius: 5px;
  transition: 0.1s;
}

.header nav a:hover {
  background: rgba(0,0,0,.5);
}

.logo img {
  max-width: 200px;
  width: 100%;
}

/* Sidenav */
.sidenav {
  background: #fafbfc;
  padding: 30px;
}

.sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44,44,44,.15);
  transition: .3s ease-out;
}

.sidenav li a:hover {
  background: #b07dfb;
}

/* Content */
.content {
}

/* Anuncios */
.anuncios {
  background: #fafbfc;
  display: grid;
  align-content: start;
  padding: 30px;
  gap: 30px;
}

/* Footer */
.footer {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.footer p {
  color: #fff;
  text-align: center;
  padding: 30px;
}